<configuration>

    <!-- Console Appender -->
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] | [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    not working-->
<!--    &lt;!&ndash; File Appender &ndash;&gt;-->
<!--    <appender name="RollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${LOG_PATH:-logs}/ditto.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${LOG_PATH:-logs}/ditto-%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
<!--            <maxHistory>7</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- Root Logger -->
    <root level="debug">
        <appender-ref ref="ConsoleAppender" />
<!--        <appender-ref ref="RollingFileAppender" />-->
    </root>

</configuration>
